<footer class="footer bg-dark position-relative">
    <div class="footer-middle">
        <div class="container position-static">
            <div class="footer-ribbon">Get in touch</div>

            <div class="row">
                <div class="col-lg-3 col-sm-6 pb-2 pb-sm-0">
                    <div class="widget">
                        <h4 class="widget-title">About Us</h4>
                        <a href="demo1.html">
                            <img src="/src/assets/images/logo-footer.png" alt="Logo" class="logo-footer">
                        </a>
                        <p class="m-b-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapibus lacus. Duis nec vestibulum magna, et dapibus lacus.</p>
                        <a href="#" class="read-more text-white">read more...</a>
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6 pb-4 pb-sm-0">
                    <div class="widget mb-2">
                        <h4 class="widget-title mb-1 pb-1">Contact Info</h4>
                        <ul class="contact-info m-b-4">
                            <li>
                                <span class="contact-info-label">Address:</span>123 Street Name, City, England
                            </li>
                            <li>
                                <span class="contact-info-label">Phone:</span><a href="tel:">(123) 456-7890</a>
                            </li>
                            <li>
                                <span class="contact-info-label">Email:</span> <a href="https://portotheme.com/cdn-cgi/l/email-protection#9ef3fff7f2defbe6fff3eef2fbb0fdf1f3"><span class="__cf_email__" data-cfemail="3558545c5975504d54584559501b565a58">[email&#160;protected]</span></a>
                            </li>
                            <li>
                                <span class="contact-info-label">Working Days/Hours:</span> Mon - Sun / 9:00 AM - 8:00 PM
                            </li>
                        </ul>
                        <div class="social-icons">
                            <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                            <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                            <a href="#" class="social-icon social-linkedin fab fa-linkedin-in" target="_blank" title="Linkedin"></a>
                        </div>
                        <!-- End .social-icons -->
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6 pb-2 pb-sm-0">
                    <div class="widget">
                        <h4 class="widget-title pb-1">Customer Service</h4>

                        <ul class="links">
                            <li><a href="#">Help & FAQs</a></li>
                            <li><a href="#">Order Tracking</a></li>
                            <li><a href="#">Shipping & Delivery</a></li>
                            <li><a href="#">Orders History</a></li>
                            <li><a href="#">Advanced Search</a></li>
                            <li><a href="dashboard.html">My Account</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="demo1-about.html">About Us</a></li>
                            <li><a href="#">Corporate Sales</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6 pb-0">
                    <div class="widget mb-1 mb-sm-3">
                        <h4 class="widget-title">Popular Tags</h4>

                        <div class="tagcloud">
                            <a href="#">Bag</a>
                            <a href="#">Black</a>
                            <a href="#">Blue</a>
                            <a href="#">Clothes</a>
                            <a href="#">Fashion</a>
                            <a href="#">Hub</a>
                            <a href="#">Jean</a>
                            <a href="#">Shirt</a>
                            <a href="#">Skirt</a>
                            <a href="#">Sports</a>
                            <a href="#">Sweater</a>
                            <a href="#">Winter</a>
                        </div>
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-lg-3 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .footer-middle -->

    <div class="container">
        <div class="footer-bottom d-sm-flex align-items-center">
            <div class="footer-left">
                <span class="footer-copyright">© Porto eCommerce. 2021. All Rights Reserved</span>
            </div>

            <div class="footer-right ml-auto mt-1 mt-sm-0">
                <div class="payment-icons">
                    <span class="payment-icon visa" style="background-image: url(/src/assets/images/payments/payment-visa.svg)"></span>
                    <span class="payment-icon paypal" style="background-image: url(/src/assets/images/payments/payment-paypal.svg)"></span>
                    <span class="payment-icon stripe" style="background-image: url(/src/assets/images/payments/payment-stripe.png)"></span>
                    <span class="payment-icon verisign" style="background-image:  url(/src/assets/images/payments/payment-verisign.svg)"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- End .footer-bottom -->
</footer>
<!-- End .footer -->